.service{
    @extend %stacking-context;
    
    &::after{
        @extend %common-pseudo;
        z-index: -1;
        bottom: 0;
        left: 0;
        right: 0;
        height: calc(var(--_section-gap) / 1.5);
        background-color: $color-secondary
    }

    &__figure{
        @extend %stacking-context;
        padding-top: 138%;

        &__image{
            @extend %full-width;
            @extend %transition;
        }
        
        &:hover{
            .service__figure__image{
                transform: scale(1.05)
            }
        }
    }
    &__text{
        @extend %common-text;
    }
}