.testimonial{
    @extend %stacking-context;

    &::after{
        // @extend %common-pseudo;
        z-index: -1;
        left: 0;
        right: 0;
        bottom: 0;
        height: 20%;
        background-color: $color-white;
        pointer-events: none;
    }
}