// SCSS Variable's

$font-primary: 'Figtree', sans-serif;
$font-secondary: 'Figtree', sans-serif;
$font-tertiary: 'Nunito Sans', sans-serif;

$color-primary:#da2128;
$color-primary-rgb: toRGB($color-primary);
$color-primary--dark:#6d0303;
$color-secondary:#022561;

$color-gray:#333333;
$color-gray-thin:#999999;
$color-gray-light:#666666;
$color-black:#000000;
$color-white:#ffffff;

$gutter: 28px;