/* Testimonial Card Style */
.testimonial{
    &__card{
        --_border-color: transparent;
        background-color: $color-white;
        @extend %card-gap;
        border-left: 1px solid var(--_border-color);
        @include min-xl{
            border-right: 1px solid var(--_border-color);
        }
        
        &__body{
            $_padding: toRem(30);
            padding-left: $_padding;
            padding-right: $_padding;
            padding-bottom: $_padding;
    
            &__quote{
                color: rgba($color-primary-rgb, 0.20);
                font-size: toRem(80);
            }
    
            &__icons{
                position: absolute;
                left: 50%;
                transform: translateX(-50%) translateY(-80%);
                bottom: 0;
                color: #ffbf14;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                font-size: toRem(18);
            }
    
            &__title{
                color: $color-gray;
                font-size: toRem(26);
                @include min-lg{
                    font-size: toRem(30);
                }
                font-weight: 600;
                font-family: $font-primary;
                margin-top: toRem(15);
                margin-bottom: toRem(20);
                line-height: 1;
            }
    
            &__text{
                position: relative;
                color: $color-gray-light;
                font-size: toRem(18);
                @include min-xxl{
                    font-size: toRem(22);
                }
                font-weight: 300;
                font-family: $font-primary;
                font-style: italic;
                margin-bottom: 0;
            }
        }
    
        &__footer{
            $_padding: toRem(10);
            padding-left: $_padding;
            padding-right: $_padding;
    
            &__avatar{
                font-size: toRem(26);
                font-weight: 700;
                font-family: $font-primary;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: toRem(60);
                height: toRem(60);
                border-radius: 50rem;
                @extend %uppercase;
                margin-bottom: toRem(20);
            }
    
            &__title{
                color: $color-gray;
                font-size: toRem(20);
                font-weight: 700;
                font-family: $font-primary;
            }
    
            &__text{
                color: $color-gray-light;
                font-size: toRem(18);
                font-weight: 300;
                font-family: $font-primary;
            }
        }
    }
    &__slide.slick-center .testimonial__card{
        --_border-color: #e6e6e6;
    }
}

/* Feature Card Style */
.feature__card{
    display: flex;
    align-items: center;
    @include max-sm{
        flex-direction: column;
        text-align: center;
    }
    gap: toRem(40);
    padding-top: $gutter;
    @extend %card-gap;
    
    &__icon{
        @extend %stacking-context;
        flex-shrink: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: toRem(105);
        height: toRem(105);
        
        &::before{
            @extend %common-pseudo;
            z-index: -1;
            width: 100%;
            height: 100%;
            background-color: $color-primary;
            transform: skewX(-14deg);
            transition: transform 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
        }

        &__image{
            height: auto;
        }
    }

    &:hover{
        .feature__card__icon::before{
            transform: skewX(14deg);
        }
    }

    &__title{
        color: $color-black;
        @include max-sm{
            font-size: toRem(18);
        }
        @include min-xxl{
            font-size: toRem(26);
        }
        font-weight: 700;
        font-family: $font-primary;
    }

    &__text{
        color: $color-gray;
        @include min-xxl{
            font-size: toRem(18);
        }
        font-weight: 300;
        font-family: $font-primary;
        margin-bottom: 0;
    }
}